@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');            /* Estilos generales //////////////////////////////////////////// */
body,html{
    margin:0px;
    font-family:Ubuntu,sans-serif;
    overflow-x:hidden;
}
/* Estilos de la cabecera */
header{
    background:rgb(30,30,30);
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
header a{
    color:inherit;
    text-decoration: none;
}
header img{
    width:40px;
}
header h1,header a{
    font-size:12px;
    font-weight:normal;
    padding:10px;
}
/* Estilos de los héroes //////////////////////////////////////////// */
main section:nth-child(1) article{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height:550px;
    margin-bottom:1px;
    color:black;
    border-radius:5px;
}
main section:nth-child(1) article *{
    padding:0px;
    margin:10px;
}
main section:nth-child(1) article a{
    padding:10px;
    background:indigo;
    color:white;
    border:none;
    border-radius:40px;
    text-decoration:none;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3);
}
main section:nth-child(1) h2{font-size:52px;}
/* Estilos de los destacados //////////////////////////////////////////// */
#principal section{
    width:100%;
}
#principal section:nth-child(2){
    display:grid;
    grid-template-columns: auto auto;
    gap:10px;
    margin-top:10px;
}
#principal section:nth-child(2) article{
    height:400px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch; 
}
#principal section:nth-child(2) article h2,section:nth-child(2) article h3{
    padding:0px;
    margin:5px;
}
#principal section:nth-child(2) article a{
    color:white;
    text-decoration: none;
    background:indigo;
    padding:10px;
    border-radius:40px;
    margin:3px;
}
#principal section:nth-child(2) h2{font-size:36px;}
/* Estilos del carrusel 1 //////////////////////////////////////////// */

#principal section:nth-child(3){
    display: grid;
    grid-template-columns: auto auto auto;
    
   
   
    
    gap:5px;
    margin-top:10px;
    
}
#principal section:nth-child(3) article{
    
    height:400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    color:black;
}
#principal section:nth-child(3) article h2,section:nth-child(3) article h3{
    padding:0px;
    margin:5px;
}
#principal section:nth-child(3) article a{
    color:white;
    text-decoration: none;
    background:indigo;
    padding:10px;
    border-radius:40px;
    margin:3px;
}
#principal section:nth-child(3) h2{font-size:32px;}
/* Estilos del carrusel 2 //////////////////////////////////////////// */

#principal section:nth-child(4){
    display: grid;
    grid-template-columns: auto auto auto auto;
    
   
    
    gap:5px;
    margin-top:10px;
    
}
#principal section:nth-child(4) article{
    
    height:300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    color:black;
}
#principal section:nth-child(4) article h2,section:nth-child(4) article h3{
    padding:0px;
    margin:5px;
}
#principal section:nth-child(4) article a{
    color:white;
    text-decoration: none;
    background:indigo;
    padding:10px;
    border-radius:40px;
    margin:3px;
}
#principal section:nth-child(4) h2{font-size:32px;}

/* Estilos del texto informativo //////////////////////////////////////////// */
#principal section:nth-child(5){
    box-sizing:border-box;
    padding:20px;
    text-align:center;
}
#principal section:nth-child(5) p{
    width:80%;
    margin:auto;
    text-align:justify;
}
/* Estilos del pié de página //////////////////////////////////////////// */
footer section:nth-child(1){
    width:80%;
    margin:auto;
    column-count:5;
}
footer section:nth-child(1) a{
    display:block;
    color:grey;
    text-decoration:none;
    padding:10px;
}
footer section:nth-child(2){
    display:flex;
    justify-content: center;
    align-items: center;

}
footer section:nth-child(2) *{
    padding:10px;
    color:black;
    text-decoration:none;
    color:grey;
}
/* Reglas para CSS responsivo */
@media screen and (max-width: 768px) {
    body{
        overflow-x:auto;
    }
    main section:nth-child(2),main section:nth-child(3),main section:nth-child(4){
        display:block;
        width:100%;
        margin:0;
        position:initial;
    }
    main  article{
        margin-bottom:5px;
        width:100% !important;
    }
    header{
        flex-direction: column;
        column-count:5;
    }
}
/* Ajustes sobre la carga de datos json */
article{
    background-size:cover;
}
h2,h3{
   
}
article a{
    width:150px;
    text-align:center;
    text-transform:uppercase;
    font-size:11px;
}
main{
    text-align:center;
}
main img{
    width:10%;
    
    text-align:center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 97px;
}
/* Estilo de las páginas */
section{
    width:800px;
    margin:auto;
}
section p{
    text-align:justify;
}
/* Estilo de la presentación en formato rejilla */
#rejilla{
    display:grid;
    grid-template-columns: auto auto auto;
    width:1280px;
    gap:20px;
}
/* Estilos para la landing page */
#landing{
    background:rgb(240,240,240);
}
.captura{
    width:800px;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.3);
}
#landing section,#landing h2{
    margin-top:50px;
    margin-bottom:50px;
}
#landing section:first-child{
    margin-top:0px;
}
#landing #destacados,#landing #precios{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:20px;
}
#landing #destacados article,#landing #precios article{
    border:1px solid lightgrey;
    border-radius:4px;
    height:200px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding:20px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    background:white;
}
#landing #destacados p,#landing #precios p{
    text-align:center !important;
}
#landing iframe{
    width:100%;
    height:500px;
    border:0px;
    border-radius:10px;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3);
}
#landing form{
    width:500px;
    margin:auto;
}
#landing form label,#landing form input,#landing form textarea{
    width:100%;
    text-align:left !important;
    
    box-sizing:border-box;
    padding:10px;
    margin:10px;
    border-radius:5px;
}
#landing form input,#landing form textarea{
    border:1px solid lightgrey;
}
#landing form input[type=submit]{
    text-align:center !important;
    background:indigo;
    color:white;
    border-radius:40px;
}
#landing section:first-child{
    width:100%;
    margin-bottom:50px;
}
#landing section p{
	text-align:center;
}
/* Estilos del formulario de contacto //////////////////////////////////////////// */
#contacto{
    display:flex;
    width:800px;
    margin:auto;
    gap:20px;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
#contacto form input,#contacto form textarea{
    width:100%;
    box-sizing:border-box;
    padding:10px;
    margin-bottom:20px;
}
#contacto form,#contacto iframe{
    flex:1;
}
#contacto iframe{
    border-radius:10px;
}
#contacto .ayuda{
    font-size:10px;
    color:red;
    text-align:left;
}